<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Web Portfolio | Névio Costa Magagnin</title>

	<link rel="icon" type="image/x-icon" href="img/logo.png">
	<link rel="stylesheet" href="bootstrap-4.1.3-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/fixed.css">
</head>
<body data-spy="scroll" data-target="#navbarResponsive">
	<!-- Start Home Section -->
	<div id="home">
			
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">
				<h2>Web Portfolio</h2>
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#home">Home</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#about">Sobre Mim</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#skills">Habilidades</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#projects">Projetos</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#contact">Contato</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="/en#home">
							<img src="https://img.icons8.com/color/23/000000/usa.png"/>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="landing">
			<div class="home-wrap">
				<div class="home-inner"></div>
			</div>
		</div>

		<div class="caption text-center">
			<h1>Oi, meu nome é Névio Costa Magagnin</h1>
			<h3>Desenvolvedor Back-end / Front-end / Mobile</h3>
			<a class="btn btn-outline-light btn-lg" href="#about">
				Venha me Conhecer
			</a>
		</div>

	</div>
	<!-- End Home Section -->

	<!-- Start About Section -->
	<div id="about" class="offset">
		
		<div class="col-12 narrow text-center">
			<h1>Sobre Mim</h1>

			<p class="lead text-justify">
				Olá, meu nome é Névio Costa Magagnin, tenho 17 anos e sou desenvolvedor. Atuo nas areas do Back-end, Front-end e Mobile utilizando tecnologias como HTML5, CSS3, JavaScript e outras para a construção de sites e sistemas. Meu objetivo com esse site é mostrar o meu conhecimento e fazer com que as pessoas conheçam mais do meu trabalho.
			</p>
		</div>

	</div>
	<!-- End About Section -->

	<!-- Start Video Section -->
	<div class="video-box text-center">
		<video class="video" controls>
			<source src="http://techslides.com/demos/sample-videos/small.ogv" type=video/ogg>	
		</video>	
	</div>
	<!-- End Video Section -->

	<!-- Start Skills Section -->
	<div id="skills" class="offset">
		
		<div class="jumbotron">
			<div class="narrow text-center">
				
				<div class="col-12">
					<h3 class="heading">Habilidades</h3>
					<div class="heading-underline"></div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="feature">
							<i class="fas fa-server fa-4x" data-fa-transform="shrink-3 up-5"></i>
							<h3>Back-end</h3>
							<p>Node para criação de APIs Restful utilizando boas práticas para um serviço de qualidade.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="feature">
							<i class="fas fa-desktop fa-4x" data-fa-transform="shrink-3 up-5"></i>
							<h3>Front-end</h3>
							<p>Angular ou React para a criação de um interface intuitiva pensando sempre no cliente.</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="feature">
							<i class="fas fa-mobile-alt fa-4x" data-fa-transform="shrink-3 up-5"></i>
							<h3>Mobile</h3>
							<p>Ionic ou React Native para a criação das versões mobile das aplicações. Particularmente é a parte de um projeto que eu mais gosto.</p>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
	<!-- End Skills Section -->

	<!-- Start Projects Section -->
	<div id="projects" class="offset">
		
		<div class="col-12 narrow text-center">
			<h1>Projetos</h1>
		</div>

		<div class="col-12 narrow text-left">
			<h2 class="projects-title despesas-net">Despesas Net</h2>

			<p class="lead text-justify">
				O sistema web Despesas Net é um sistema que eu criei em 2019 apenas como prática para obter conhecimento em Angular e acabei deixando ele no ar. Eu utilizei Node para criar a API e Angular para criar a interface web. É um sistema simples de controle de gastos onde o usuário informa seus gastos e o sistema calcula as despesas do mês de acordo com o salário do usuário.
				<a href="https://expenses-web-system.firebaseapp.com" target="_blank">Link para o Sistema</a>
			</p>

			<div class="row imgs-box">
				<div class="col-md-6">
					<img class="despesas-img" src="img/despesas-net2.png">
				</div>
				<div class="col-md-6">
					<img class="despesas-img" src="img/despesas-net1.png">
				</div>
			</div>
		</div>

	</div>
	<!-- End Projects Section -->

	<!-- Start Contact Section -->
	<div id="contact" class="offset">
		
		<div class="fixed-background">
			<div class="row dark text-center">
				
				<div class="col-12">
					<h3 class="heading">Contatos</h3>
					<div class="heading-underline"></div>
				</div>

				<div class="col-md-4">
					<h3>Instagram</h3>
					<div class="feature">
						<a class="insta" href="https://www.instagram.com/nevio_costa/" target="_blank">
							<i class="fab fa-instagram fa-3x"></i>	
						</a>
						<p>@nevio_costa</p>						
					</div>
				</div>

				<div class="col-md-4">
					<h3>LinkedIn</h3>
					<div class="feature">
						<a class="linked" href="https://www.linkedin.com/in/n%C3%A9vio-magagnin-045710177/" target="_blank">
							<i class="fab fa-linkedin-in fa-3x"></i>
						</a>
						<p>Névio Costa Magagnin</p>
					</div>
				</div>

				<div class="col-md-4">
					<h3>GitHub</h3>
					<div class="feature">
						<a class="github" href="https://github.com/NEVI0" target="_blank">
							<i class="fab fa-github fa-3x"></i>
						</a>
						<p>NEVI0</p>
					</div>
				</div>

				<div class="col-12">
					<h3 class="heading contactSecondaryTitle">Fale Comigo</h3>
					<div class="heading-underline"></div>

					<form method="post" action="/mail?version=<%= version %>">
						<div class="form-group">
							<input type="text" placeholder="Seu Nome" class="input" name="name">
						</div>
						<div class="form-group">
							<input type="email" placeholder="E-mail" class="input" name="email">
						</div>
						<div class="form-group">
							<textarea placeholder="Mensagem" class="input textarea" name="message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Enviar" class="btn btn-outline-light custom-btn">
						</div>

						<% if (success == "true") { %>
							<p class="form-message-succ">Sua mensagem foi enviada!</p>
						<% } %>
					</form>
				</div>

			</div>

			<div class="fixed-wrap">
				<div class="fixed"></div>
			</div>
		</div>

	</div>
	<!-- End Contact Section -->

	<!-- Start Footer Section -->
	<footer class="text-center">
		<p>&copy; Névio Costa Magagnin | <%= year %></p>
	</footer>
	<!-- End Footer Section -->

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
</body>
</html>